
#u876.d {
  top:2868px;
}
#u876_text.d {
}
#u876 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u877.d {
  top:2849px;
}
#u877_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877.d {
  top:2849px;
}
#u877_text.d {
}
#u877 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u878.d {
  left:39px;
  top:2798px;
  width:160px;
  height:160px;
}
#u878_img.d {
  width:160px;
  height:160px;
}
#u878.d {
  left:39px;
  top:2798px;
  width:160px;
  height:160px;
}
#u878_text.d {
}
#u878 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u879.d {
  left:216px;
  top:3045px;
  width:95px;
}
#u879_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u879.d {
  left:216px;
  top:3045px;
  width:95px;
}
#u879_text.d {
}
#u879 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u880.d {
  top:3272px;
  width:43px;
}
#u880_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u880.d {
  top:3272px;
  width:43px;
}
#u880_text.d {
}
#u880 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u881.d {
  left:216px;
  top:3467px;
  width:109px;
}
#u881_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u881.d {
  left:216px;
  top:3467px;
  width:109px;
}
#u881_text.d {
}
#u881 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u882.d {
  top:3682px;
  width:146px;
}
#u882_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u882.d {
  top:3682px;
  width:146px;
}
#u882_text.d {
}
#u882 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u883.d {
  left:217px;
  top:3901px;
  width:62px;
}
#u883_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u883.d {
  left:217px;
  top:3901px;
  width:62px;
}
#u883_text.d {
}
#u883 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u884.d {
  left:218px;
  top:3086px;
}
#u884_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884.d {
  left:218px;
  top:3086px;
}
#u884_text.d {
}
#u884 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u885.d {
  left:216px;
  top:3067px;
}
#u885_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885.d {
  left:216px;
  top:3067px;
}
#u885_text.d {
}
#u885 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u886.d {
  top:3313px;
}
#u886_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886.d {
  top:3313px;
}
#u886_text.d {
}
#u886 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u887.d {
  top:3294px;
}
#u887_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887.d {
  top:3294px;
}
#u887_text.d {
}
#u887 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u888.d {
  left:218px;
  top:3510px;
}
#u888_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888.d {
  left:218px;
  top:3510px;
}
#u888_text.d {
}
#u888 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u889.d {
  left:216px;
  top:3491px;
}
#u889_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889.d {
  left:216px;
  top:3491px;
}
#u889_text.d {
}
#u889 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u890.d {
  top:3725px;
}
#u890_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890.d {
  top:3725px;
}
#u890_text.d {
}
#u890 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u891.d {
  top:3706px;
}
#u891_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891.d {
  top:3706px;
}
#u891_text.d {
}
#u891 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u892.d {
  left:219px;
  top:3942px;
}
#u892_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892.d {
  left:219px;
  top:3942px;
}
#u892_text.d {
}
#u892 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u893.d {
  left:217px;
  top:3923px;
}
#u893_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893.d {
  left:217px;
  top:3923px;
}
#u893_text.d {
}
#u893 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u894.d {
  left:38px;
  top:3657px;
  width:160px;
  height:160px;
}
#u894_img.d {
  width:160px;
  height:160px;
}
#u894.d {
  left:38px;
  top:3657px;
  width:160px;
  height:160px;
}
#u894_text.d {
}
#u894 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u895.d {
  left:39px;
  top:3875px;
  width:160px;
  height:160px;
}
#u895_img.d {
  width:160px;
  height:160px;
}
#u895.d {
  left:39px;
  top:3875px;
  width:160px;
  height:160px;
}
#u895_text.d {
}
#u895 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u896.d {
  left:39px;
  top:3440px;
  width:159px;
  height:159px;
}
#u896_img.d {
  width:159px;
  height:159px;
}
#u896.d {
  left:39px;
  top:3440px;
  width:159px;
  height:159px;
}
#u896_text.d {
}
#u896 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u897.d {
  left:39px;
  top:3014px;
  width:160px;
  height:159px;
}
#u897_img.d {
  width:160px;
  height:159px;
}
#u897.d {
  left:39px;
  top:3014px;
  width:160px;
  height:159px;
}
#u897_text.d {
}
#u897 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u898.d {
  left:39px;
  top:3230px;
  width:159px;
  height:159px;
}
#u898_img.d {
  width:159px;
  height:159px;
}
#u898.d {
  left:39px;
  top:3230px;
  width:159px;
  height:159px;
}
#u898_text.d {
}
#u898 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u899.d {
  position:absolute;
  left:1017px;
  top:2262px;
}
#u900.d {
}
#u900_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u900.d {
}
#u900_text.d {
}
#u900 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u901.d {
}
#u901_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u901.d {
}
#u901_text.d {
}
#u901 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u899_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u902.d {
  position:absolute;
  left:1017px;
  top:2739px;
}
#u903.d {
}
#u903_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u903.d {
}
#u903_text.d {
}
#u903 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u904.d {
}
#u904_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u904.d {
}
#u904_text.d {
}
#u904 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u902_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u905.d {
  position:absolute;
  left:1017px;
  top:3225px;
}
#u906.d {
}
#u906_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u906.d {
}
#u906_text.d {
}
#u906 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u907.d {
}
#u907_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u907.d {
}
#u907_text.d {
}
#u907 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u905_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u908.d {
  left:20px;
  top:4516px;
  width:374px;
  height:189px;
}
#u908_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:189px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u908.d {
  left:20px;
  top:4516px;
  width:374px;
  height:189px;
}
#u908_text.d {
}
#u908 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u909.d {
  left:20px;
  top:4083px;
  width:374px;
  height:189px;
}
#u909_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:189px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u909.d {
  left:20px;
  top:4083px;
  width:374px;
  height:189px;
}
#u909_text.d {
}
#u909 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u910.d {
  left:20px;
  top:4299px;
  width:374px;
  height:190px;
}
#u910_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u910.d {
  left:20px;
  top:4299px;
  width:374px;
  height:190px;
}
#u910_text.d {
}
#u910 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u911.d {
  left:20px;
  top:4731px;
  width:374px;
  height:189px;
}
#u911_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:189px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u911.d {
  left:20px;
  top:4731px;
  width:374px;
  height:189px;
}
#u911_text.d {
}
#u911 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u912.d {
  left:39px;
  top:4099px;
  width:160px;
  height:160px;
}
#u912_img.d {
  width:160px;
  height:160px;
}
#u912.d {
  left:39px;
  top:4099px;
  width:160px;
  height:160px;
}
#u912_text.d {
}
#u912 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u913.d {
  left:218px;
  top:4128px;
  width:154px;
}
#u913_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u913.d {
  left:218px;
  top:4128px;
  width:154px;
}
#u913_text.d {
}
#u913 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u914.d {
  left:220px;
  top:4169px;
}
#u914_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914.d {
  left:220px;
  top:4169px;
}
#u914_text.d {
}
#u914 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u915.d {
  left:218px;
  top:4150px;
}
#u915_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915.d {
  left:218px;
  top:4150px;
}
#u915_text.d {
}
#u915 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u916.d {
  left:216px;
  top:4344px;
  width:96px;
}
#u916_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u916.d {
  left:216px;
  top:4344px;
  width:96px;
}
#u916_text.d {
}
#u916 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u917.d {
  left:218px;
  top:4386px;
}
#u917_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917.d {
  left:218px;
  top:4386px;
}
#u917_text.d {
}
#u917 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u918.d {
  left:216px;
  top:4367px;
}
#u918_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918.d {
  left:216px;
  top:4367px;
}
#u918_text.d {
}
#u918 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u919.d {
  left:39px;
  top:4310px;
  width:159px;
  height:159px;
}
#u919_img.d {
  width:159px;
  height:159px;
}
#u919.d {
  left:39px;
  top:4310px;
  width:159px;
  height:159px;
}
#u919_text.d {
}
#u919 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u920.d {
  top:4540px;
  width:160px;
}
#u920_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u920.d {
  top:4540px;
  width:160px;
}
#u920_text.d {
}
#u920 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u921.d {
  top:4582px;
}
#u921_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921.d {
  top:4582px;
}
#u921_text.d {
}
#u921 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u922.d {
  top:4563px;
}
#u922_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922.d {
  top:4563px;
}
#u922_text.d {
}
#u922 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u923.d {
  left:39px;
  top:4526px;
  width:160px;
  height:160px;
}
#u923_img.d {
  width:160px;
  height:160px;
}
#u923.d {
  left:39px;
  top:4526px;
  width:160px;
  height:160px;
}
#u923_text.d {
}
#u923 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u924.d {
  left:214px;
  top:4763px;
  width:163px;
}
#u924_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u924.d {
  left:214px;
  top:4763px;
  width:163px;
}
#u924_text.d {
}
#u924 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u925.d {
  left:216px;
  top:4805px;
}
#u925_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925.d {
  left:216px;
  top:4805px;
}
#u925_text.d {
}
#u925 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u926.d {
  left:214px;
  top:4786px;
}
#u926_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926.d {
  left:214px;
  top:4786px;
}
#u926_text.d {
}
#u926 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u927.d {
  left:39px;
  top:4750px;
  width:159px;
  height:159px;
}
#u927_img.d {
  width:159px;
  height:159px;
}
#u927.d {
  left:39px;
  top:4750px;
  width:159px;
  height:159px;
}
#u927_text.d {
}
#u927 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u928.d {
  position:absolute;
  left:216px;
  top:2701px;
  width:36px;
  height:40px;
}
#u929.d {
  position:absolute;
  left:216px;
  top:2701px;
}
#u930.d {
}
#u930_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u930.d {
}
#u930_text.d {
}
#u930 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u931.d {
}
#u931_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u931.d {
}
#u931_text.d {
}
#u931 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u929_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u932.d {
  position:absolute;
  left:216px;
  top:2918px;
  width:36px;
  height:40px;
}
#u933.d {
  position:absolute;
  left:216px;
  top:2918px;
}
#u934.d {
}
#u934_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u934.d {
}
#u934_text.d {
}
#u934 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u935.d {
}
#u935_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u935.d {
}
#u935_text.d {
}
#u935 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u933_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u936.d {
  position:absolute;
  left:216px;
  top:3132px;
  width:36px;
  height:40px;
}
#u937.d {
  position:absolute;
  left:216px;
  top:3132px;
}
#u938.d {
}
#u938_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u938.d {
}
#u938_text.d {
}
#u938 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u939.d {
}
#u939_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u939.d {
}
#u939_text.d {
}
#u939 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u937_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u940.d {
  position:absolute;
  left:216px;
  top:3349px;
  width:36px;
  height:40px;
}
#u941.d {
  position:absolute;
  left:216px;
  top:3349px;
}
#u942.d {
}
#u942_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u942.d {
}
#u942_text.d {
}
#u942 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u943.d {
}
#u943_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u943.d {
}
#u943_text.d {
}
#u943 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u941_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u944.d {
  position:absolute;
  left:216px;
  top:3556px;
  width:36px;
  height:40px;
}
#u945.d {
  position:absolute;
  left:216px;
  top:3556px;
}
#u946.d {
}
#u946_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u946.d {
}
#u946_text.d {
}
#u946 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u947.d {
}
#u947_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u947.d {
}
#u947_text.d {
}
#u947 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u945_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u948.d {
  position:absolute;
  left:216px;
  top:3777px;
  width:36px;
  height:40px;
}
#u949.d {
  position:absolute;
  left:216px;
  top:3777px;
}
#u950.d {
}
#u950_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u950.d {
}
#u950_text.d {
}
#u950 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u951.d {
}
#u951_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u951.d {
}
#u951_text.d {
}
#u951 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u949_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u952.d {
  position:absolute;
  left:216px;
  top:3995px;
  width:36px;
  height:40px;
}
#u953.d {
  position:absolute;
  left:216px;
  top:3995px;
}
#u954.d {
}
#u954_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u954.d {
}
#u954_text.d {
}
#u954 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u955.d {
}
#u955_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u955.d {
}
#u955_text.d {
}
#u955 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u953_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u956.d {
  position:absolute;
  left:216px;
  top:4219px;
  width:36px;
  height:40px;
}
#u957.d {
  position:absolute;
  left:216px;
  top:4219px;
}
#u958.d {
}
#u958_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u958.d {
}
#u958_text.d {
}
#u958 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u959.d {
}
#u959_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u959.d {
}
#u959_text.d {
}
#u959 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u957_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u960.d {
  position:absolute;
  left:216px;
  top:4429px;
  width:36px;
  height:40px;
}
#u961.d {
  position:absolute;
  left:216px;
  top:4429px;
}
#u962.d {
}
#u962_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u962.d {
}
#u962_text.d {
}
#u962 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u963.d {
}
#u963_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u963.d {
}
#u963_text.d {
}
#u963 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u961_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u964.d {
  position:absolute;
  left:216px;
  top:4646px;
  width:36px;
  height:40px;
}
#u965.d {
  position:absolute;
  left:216px;
  top:4646px;
}
#u966.d {
}
#u966_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u966.d {
}
#u966_text.d {
}
#u966 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u967.d {
}
#u967_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u967.d {
}
#u967_text.d {
}
#u967 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u965_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u968.d {
  position:absolute;
  left:216px;
  top:4865px;
  width:36px;
  height:40px;
}
#u969.d {
  position:absolute;
  left:216px;
  top:4865px;
}
#u970.d {
}
#u970_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 209, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  font-size:24px;
  color:#000000;
}
#u970.d {
}
#u970_text.d {
}
#u970 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u971.d {
}
#u971_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(36, 194, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:5px 5px 0px rgba(0, 0, 0, 0.996078431372549);
  color:#000000;
}
#u971.d {
}
#u971_text.d {
}
#u971 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u969_state0.d {
  position:relative;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969_state1.d {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
